DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"
UPLOADTHING_TOKEN='eyJhcGlLZXkiOiJza19saXZlXzE3ODY4YWJkNWQ5MmZjZWMzYzIyMTQ5YjcyOTk2OTkzNDQ1MWVlYTJmYjExMjNmZDU3ZjUyYjYxMGYyZTRlNjEiLCJhcHBJZCI6Inhxc3BhcGFxYmIiLCJyZWdpb25zIjpbInNlYTEiXX0='